
    <section class="product">
        <div class="product__wrap">
            <div class="productJs">
                <div class="slider-for">
                  {%- for media in product.media -%}
                  	<div class="slider-forItem">
                        <img src="{{ media | img_url: 'grande' }}" alt="{{ product.title }}">
                    </div>
                  {%- endfor -%}
                </div>
                <div class="slider-nav">
                  {%- for media in product.media -%}
                  	<div class="slider-forItem">
                        <img src="{{ media | img_url }}" alt="{{ product.title }}">
                    </div>
                  {%- endfor -%}


                </div>
            </div>
            <form action="/cart/add" method="post" enctype="multipart/form-data" class="product__item">
          		<h2 class="product__title">{{ product.title }}</h2>
                <div class="product__option">
                    <h3 class="product__optionTitle">
                        Choose your length
                    </h3>

<!--                    <select class="select selectSizeHide" name="size">
                        <option disabled>60 CM (24 INCHES)</option>
                        <option value="WOMEN’s 9">60 CM (24 INCHES)</option>
                        <option value="WOMEN’s 11">WOMEN’s 11</option>
                        <option value="WOMEN’s 21">WOMEN’s 21</option>
                    </select> -->
					{{product.selected_or_first_available_variant}}
                  <select name="id" class="select">
                    <option disabled>select size</option>
                     {% for variant in product.variants %}

                        {% if variant.available %}
                          <option {% if variant == product.selected_or_first_available_variant %}
                            selected="selected" {% endif %}
                            data-sku="{{ variant.sku }}"
                            value="{{ variant.id }}">
                            {{ variant.title }}
                          </option>
                        {% else %}
                          <option disabled="disabled">
                            {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                          </option>
                        {% endif %}
                    {% endfor %}
                </select>
                </div>

                <div class="product__price">
                    <span>${{ product.price | divided_by: 100.00  }}</span>
                    <span>Tax included</span>{{ itemQty }}
                </div>
                <div class="dflex dflex_btnWrap">
                    <div class="ajaxcart__qty">
                        <button type="button" class="ajaxcart__qtyBtn ajaxcart__qtyBtn_minus">-</button>
                        <input type="text"  class="ajaxcart__qtyNum" value="1" min="0" pattern="[0-9]*">
                        <button type="button" class="ajaxcart__qtyBtn ajaxcart__qtyBtn_plus">+</button>
                    </div>
                    <input type="submit" name="add" id="add" value="Add to Cart" class="button mainBtn">
                </div>
                 <div class="product__text">
                    {{ product.description }}
                </div>
			</form>

        </div>
    </section>