
    <section class="product">
        <div class="product__wrap">
            <div class="productJs">
                <div class="slider-for">
                  {%- for media in product.media -%}
                  	<div class="slider-forItem">
                        <img src="{{ media | img_url: 'grande' }}" alt="{{ product.title }}">
                    </div>
                  {%- endfor -%}
                </div>
                <div class="slider-nav">
                  {%- for media in product.media -%}
                  	<div class="slider-forItem">
                        <img src="{{ media | img_url }}" alt="{{ product.title }}">
                    </div>
                  {%- endfor -%}


                </div>
            </div>
            <form action="/cart/add" method="post" enctype="multipart/form-data" class="product__item" id="AddToCartForm">
          		<h2 class="product__title">{{ product.title }}</h2>
                <div class="product__option">
                    <h3 class="product__optionTitle">
                        Choose your length
                    </h3>
					{% comment %} {{product.selected_or_first_available_variant}} {% endcomment %}
                  <select name="id" class="select">
                       <option disabled>{{ batches  }}</option>
                     {% for variant in product.variants %}
                        {% assign batches = variant.price | money %}

                        {% if variant.available %}
                          <option {% if variant == product.selected_or_first_available_variant %}
                            selected="selected" {% endif %}
                            data-sku="{{ variant.sku }}"
                            value="{{ variant.id }}">
                            {{ variant.title }} {{ variant.price | money_with_currency }}
                          </option>
                        {% else %}
                          <option disabled="disabled">
                            {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                          </option>
                        {% endif %}
                    {% endfor %}
                </select>
                </div>

                <div class="product__price">
                    <span>{{ batches  }}</span>
                    <span>Tax included</span>
                </div>
                <div class="dflex dflex_btnWrap">
                    <div class="">
                        <button type="button" class="ajaxcart__qtyBtn ajaxcart__qtyBtn_minus "  style="display:none;">-</button>
                        <input type="number"  class="ajaxcart__qtyNum" value="1" min="1" name="quantity" style="display:none;">
                        <button type="button" class="ajaxcart__qtyBtn ajaxcart__qtyBtn_plus" style="display:none;">+</button>
                    </div>
                    <input type="submit" name="add" id="AddToCart" value="Add to Cart" class="button mainBtn ajax_add_to_cart_btn">
                </div>
                 <div class="product__text">
                    {{ product.description }}
                </div>
			</form>

        </div>

      {% section 'product-advice' %}

    </section>
