<!doctype html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="">
  <link rel="canonical" href="{{ canonical_url }}">	
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  {{ 'style.css' | asset_url | stylesheet_tag }}
  <title>{{ shop.name }}</title>

  <meta name="description" content="">

  {{ content_for_header }}
</head>

<body>
	{% section 'header' %}

  {{ content_for_layout }}
{% render 'mbc-bundles' %}</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  {{ 'index.js' | asset_url | script_tag }}
</html>
